body{
  background: #d35412;
  }
#regist{
  background: #ff8b42;
  width: 51%;
  margin: 0% auto;
  padding: 0px 72px;
  text-align: center ;
 }
 p{
   margin: 0% 24% 5% 10%;
   font-size: 20px;
 }
 
 #buut{
   background: #f9c6a4;
   margin: 0% 4% 0% 22%;
   width: 50%;
   border: 1px solid #41322a;
   border-radius: 15%;
 }
 #buut:hover{
   box-shadow: 1px 1px 1px 1px #9b5936;
 }
 input{
   width: auto;
   margin: 0% auto;
   border: none;
   border-bottom: 1px dashed #e67d37;
   display: block;
   
 }
#enter{
  display: none;
}
#lololoshka{
  display: none;
}
#regist{
  display: block;
}
.href{
  border: none;
  background-color: #ff8b42;
   color: #88E7E7;
   font-size: 14px;
  font-family: arial black;
}
 .href:hover{
   color:#049595;
 }
#fmr{
  background: #ff8b42;
}
#ButLoshka{
  background-color: #ff8b42;
  color: #000000;
}
p {
  font-size: 18px;
  font-family: arial black;
}
#JDH{
  background: #e9621c;
}
h1 {
  font-size: 32px;
  font-family: arial black;
}
#JDHh1 {
  font-size: 38px;
  font-family: arial black;
}
#but{
   background: #f9c6a4;
   margin: 0% auto;
   width: 50%;
   border: 1px solid #41322a;
   border-radius: 15%;
  
 }